<link rel="stylesheet" href="./components/bookingnow/bookingnow.css">

<div id="bookingnow">
  <div class="container-bookingnow">
    <div class="wrapper-booking">
      <h2>Book service</h2>
      <form id="form-bookingnow">
        <input type="text" placeholder="Name" id="name-booking" class="name-booking">
        <input type="text" placeholder="Telephone" id="telephone-booking" class="telephone-booking">
        <div class="form-group-bookingnow">
          <input type="datetime" placeholder="Date" id="date-booking" class="date-booking">
          <input type="datetime" placeholder="Time" id="time-booking" class="time-booking">
        </div>
        <div class="container-btn">
          <button class="btn btn-banner">Book<br>now</button>
          <svg class="row" xmlns="http://www.w3.org/2000/svg" width="72" height="16" viewBox="0 0 72 16" fill="none">
            <path
              d="M70.7357 8.70711C71.1262 8.31658 71.1262 7.68342 70.7357 7.29289L64.3717 0.928932C63.9812 0.538408 63.348 0.538408 62.9575 0.928932C62.567 1.31946 62.567 1.95262 62.9575 2.34315L68.6143 8L62.9575 13.6569C62.567 14.0474 62.567 14.6805 62.9575 15.0711C63.348 15.4616 63.9812 15.4616 64.3717 15.0711L70.7357 8.70711ZM0 9L70.0286 9V7L0 7L0 9Z"
              fill="black" />
          </svg>
        </div>
      </form>
    </div>
  </div>
</div>