#gallery {
  img {
    border-radius: var(--border-radius-small);
  }

  h3 {
    margin-bottom: var(--margin-20);
  }

  .container-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: var(--gap-20);
  }

  .g-c1,
  .g-c2,
  .g-c3 {
    display: flex;
    flex-direction: column;
    gap: var(--gap-20);
  }

  .g-c1 img {
    object-fit: cover;
    width: 100%;
    height: 343px;
  }

  .g-c2 img {
    object-fit: cover;
    width: 100%;
  }

  .g-c3 img {
    object-fit: cover;
    width: 100%;
    height: 490px;
  }

  .g-c3 .container-btn-gallery {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  #gallery .container-gallery {
    grid-template-columns: auto;
  }

  #gallery .g-c1,
  #gallery .g-c2,
  #gallery .g-c3 {
    flex-direction: row;
  }

  #gallery .g-c1 img,
  #gallery .g-c2 img,
  #gallery .g-c3 img {
    height: auto;
    max-height: 300px;
  }

  #gallery .g-c3 img {
    width: 75%;
  }
}

@media (max-width: 768px) {
  #gallery .g-c1 img,
  #gallery .g-c2 img,
  #gallery .g-c3 img {
    height: auto;
    max-height: 200px;
  }

  #gallery .g-c3 img {
    width: 70%;
  }
}
