/* style.css */
* {
  font-family: var(--font-family-base);
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-background);
}

#wrapper-content {
  margin: 20px 10%;
}

main{
  width: 100%;
}

h1 {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-light);
  font-family: var(--font-family-content);
  letter-spacing: var(--spacing-small);
}

.container-btn {
  cursor: pointer;
  width: fit-content;
  position: relative;
}
.container-btn .btn {
  background-color: var(--color-background);
  width: 115px;
  height: 110px;
  border-radius: 50%;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-light);
  text-align: center;
  border: 1px solid var(--color-secondary);
  cursor: pointer;
}

.container-btn > .row {
  position: absolute;
  top: 44%;
  left: 73%;
}
