@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Love+Light&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  /* Màu sắc */
  --color-primary: #3498db;
  --color-secondary: #2ecc71;
  --color-background: #f5f5f5;

  /* Phông chữ */
  --font-family-logo:'Love Light', cursive;
  --font-family-base: 'Arial', sans-serif;
  --font-size-base: 16px;
  --font-size-large: 24px;

  /* Khoảng cách */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;

  /* Đường viền */
  --border-radius-small: 4px;
}