@import url(../../config/global.css);
#footer {
  background-color: var(--color-secondary);
  height: var(--height-footer);
  color: var(--color-primary);
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

#footer a {
  color: var(--color-line-services);
  font-weight: var(--font-weight-extralight);
  text-decoration: none;
}

.logo-footer {
  color: var(--color-secondary);
  font-family: var(--font-family-logo);
  font-size: var(--font-size-xl);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.infor,
.customer-service {
  display: flex;
  flex-direction: column;
  gap: var(--gap-20);
}

.connect img {
  object-fit: cover;
  cursor: pointer;
  max-height: 200px;
}
.connect h4 {
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .connect img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .infor,
  .customer-service {
    gap: var(--gap-10);
  }
  h4 {
    font-size: var(--font-size-xxs);
  }
}
