<link rel="stylesheet" href="/Frontend/components/footer/footer.css" />
<script></script>
<div id="footer">
  <div id="logo-footer">
    <a href="/Frontend/index.html">Spa Center</a>
  </div>
  
  <div class="infor">
    <h4>
      Information
      <span class="toggle-icon">+</span>
    </h4>
    <div class="links">
      <a href="#">Gallery</a>
      <a href="#">Our team</a>
      <a href="#">Booking</a>
    </div>
  </div>

  <div class="customer-service">
    <h4>
      Customer service
      <span class="toggle-icon">+</span> 
    </h4>
    <div class="links">
      <a href>Full body massage</a>
      <a href>Facial cleansing / massage</a>
      <a href>Stone massage</a>
      <a href>Aromatherapy massage</a>
    </div>

  </div>

  <div class="connect">
    <h4>
      Connect 
      <span class="toggle-icon">+</span>
    </h4>
    <div class="links">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15680.190426791742!2d106.7245202!3d10.7308117!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f24c90a2455%3A0x32bfa6daa5ce92b1!2sLIKELION%20Vietnam!5e0!3m2!1svi!2s!4v1724518795933!5m2!1svi!2s"
        allowfullscreen loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

  </div>
</div>