#footer{
  background-color: var(--color-secondary);
  height: 200px;
}

.logo{
  color: var(--color-secondary);
  font-family: var(--font-family-logo);
  font-size: var(--font-size-lg);
  color: var(--color-primary);
}