<link rel="stylesheet" href="./components/footer/footer.css">


<div id="footer">
  <div class="logo-footer">Spa Center</div>
  <div class="infor">
    <h4>Information</h4>
    <a href="">Gallery</a>
    <a href="">Our team</a>
    <a href="">Booking</a>
  </div>
  <div class="customer-service">
    <h4>Customer service</h4>
    <a href="">Full body massage</a>
    <a href="">Facial cleansing / massage</a>
    <a href="">Stone massage</a>
    <a href="">Aromatherapy massage</a>
  </div>
  <div class="connect">
    <h4>Connect</h4>
    <img src="./assets/map.png" alt="Map">
  </div>
</div>