@import url(../../config/global.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-base);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    overflow: hidden;
}

#forgot {
    display: flex;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    height: 90%;
}

.col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

.logo p {
    font-family: var(--font-family-logo);
    font-size: var(--font-size-xs);
    position: absolute;
    top: 20px;
    left: 20px;
}

.forgot-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 360px;
}

.forgot-form span {
    text-align: center;
    margin-bottom: 8px;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
}

.forgot-form p {
    text-align: center;
    margin-bottom: 40px;
    font-size: 12px;
    font-weight: var(--font-weight-semibold);
    color: #4c4c4c;
}

.forgot-form label {
    display: block;
    margin-bottom: 4px;
    font-weight: var(--font-weight-medium);
    font-size: 12px;
}

.forgot-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 24px;
    border: 1px solid #dfdfdf;
}

.forgot-form button {
    width: 100%;
    padding: 12px;
    background-color: rgb(54, 54, 54);
    color: white;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    cursor: pointer;
    font-weight: var(--font-weight-medium);
}

.forgot-form button:hover {
    background-color: #3f2c1f;
}

.col2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.col2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.forgot-form input::placeholder {
    color: var(--color-placehold-input);
}

/* Format the red * so that it only displays when there is an error */
.error {
    color: red;
    display: none;

}

/* Responsive: Hide col2 on small screens */
@media (max-width: 768px) {
    #forgot {
        width: 90%;
        flex-direction: column;
    }

    .col2 {
        display: none;
    }

    .col1 {
        width: 100%;
        height: auto;
    }
}