<link rel="stylesheet" href="./components/allService/allService.css" />

<div id="allservice">
  <h3>Service</h3>
  <div class="wrapper-allservice">
    <div class="header-allservice">
      <div class="header-allservice-title active">Full body</div>
      <div class="header-allservice-title">Facial cleansing</div>
      <div class="header-allservice-title">Stone</div>
      <div class="header-allservice-title">Aromatherapy</div>
      <div class="line"></div>
    </div>
    <div class="content-allservice">
      <img src="./assets/s1.jpg" alt="" />
      <div class="wrapper-content-allservice">
        <p>
          Experience the ultimate relaxation with our full-body massage. Our
          skilled therapists will ease every tension, leaving you feeling
          completely rejuvenated. Surrender to the soothing touch that
          revitalizes your body and mind, restoring balance and harmony.
        </p>
        <p>
          Escape the stresses of daily life with a full-body massage that caters
          to your every need. From the gentle strokes to the deep tissue work,
          each session is tailored to release tension, improve circulation, and
          promote overall well-being. Let us take you on a journey of pure
          bliss.
        </p>
        <div class="container-btn">
          <button class="btn btn-banner">Book<br />now</button>
          <svg
            class="row"
            xmlns="http://www.w3.org/2000/svg"
            width="72"
            height="16"
            viewBox="0 0 72 16"
            fill="none"
          >
            <path
              d="M70.7357 8.70711C71.1262 8.31658 71.1262 7.68342 70.7357 7.29289L64.3717 0.928932C63.9812 0.538408 63.348 0.538408 62.9575 0.928932C62.567 1.31946 62.567 1.95262 62.9575 2.34315L68.6143 8L62.9575 13.6569C62.567 14.0474 62.567 14.6805 62.9575 15.0711C63.348 15.4616 63.9812 15.4616 64.3717 15.0711L70.7357 8.70711ZM0 9L70.0286 9V7L0 7L0 9Z"
              fill="black"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="./allService.js"></script>
