<link rel="stylesheet" href="./components/ourTeam/ourTeam.css" />

<div id="ourteam">
  <h3>Our team</h3>
  <div class="wrapper-ourteam">
    <div class="item-ourteam">
      <img src="./assets/o1.jpg" alt="Susan" />
      <div class="content-ourteam">
        <h5>Jane</h5>
        <button class="content-ourteam-toggle">. . .</button>
      </div>
      <p class="content-ourteam-description">Hello</p>
    </div>
    <div class="item-ourteam">
      <img src="./assets/o2.jpg" alt="Susan" />
      <div class="content-ourteam">
        <h5>Jane</h5>
        <button class="content-ourteam-toggle">. . .</button>
      </div>
      <p class="content-ourteam-description">Hello</p>
    </div>
    <div class="item-ourteam">
      <img src="./assets/o3.jpg" alt="Susan" />
      <div class="content-ourteam">
        <h5>Jane</h5>
        <button class="content-ourteam-toggle">. . .</button>
      </div>
      <p class="content-ourteam-description">Hello</p>
    </div>
  </div>
</div>

<script src="./components/ourTeam/ourteam.js"></script>
