<link rel="stylesheet" href="./components/banner/banner.css">

<div id="banner">
  <div class="content">
    <h1>Massage</h1>
    <div class="wrapper-p">
      <p>Relax, rejuvenate, and refresh at our massage & spa.</p>
      <p> Treat yourself to a moment of peace and let our expert therapists melt away your stress.</p>
      <p>Your wellness journey starts here!</p>
    </div>
    <div class="container-btn">
      <button class="btn btn-banner">Show Service</button>
      <svg class="row"  xmlns="http://www.w3.org/2000/svg" width="72" height="16" viewBox="0 0 72 16" fill="none">
        <path d="M70.7357 8.70711C71.1262 8.31658 71.1262 7.68342 70.7357 7.29289L64.3717 0.928932C63.9812 0.538408 63.348 0.538408 62.9575 0.928932C62.567 1.31946 62.567 1.95262 62.9575 2.34315L68.6143 8L62.9575 13.6569C62.567 14.0474 62.567 14.6805 62.9575 15.0711C63.348 15.4616 63.9812 15.4616 64.3717 15.0711L70.7357 8.70711ZM0 9L70.0286 9V7L0 7L0 9Z" fill="black"/>
        </svg>
    </div>
  </div>
  <div class="container-img">
    <h1>& Spa</h1>
    <img class="img-banner" src="./assets/h1.jpg" alt="">
  </div>
</div>
