@import url(../../config/global.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-base);
}

body {
    height: 100vh;
    background-color: #f5f5f5;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#account {
    position: relative;
    text-align: center;
}

#account img {
    position: absolute;
    width: 80%;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    object-fit: cover;
    z-index: 1;
}
.connect p{
    /* position: absolute; */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}