<link rel="stylesheet" href="./components/user/user.css" />

<div id="user">
    <div class="booking-details">
        <h1>Booking Details</h1>

        <div class="booking-card highlighted">
            <div class="header">
                <div class="icon"><img src="../../assets/waiting.png" alt=""></div>
                <div class="title">Stone Massage</div>
                <div class="actions">
                    <button class="edit"><img src="../../assets/edit.png" alt=""></button>
                    <button class="delete"><img src="../../assets/delete.png" alt=""></button>
                </div>
            </div>
            <hr>
            <div class="details">
                <p><span><img src="../../assets/calendar.png" alt=""></span> 12/08/2024</p>
                <p><span><img src="../../assets/time-left.png" alt=""></span> 9:00 AM</p>
                <p><span><img src="../../assets/user.png" alt=""></span> Staff: Lana</p>
            </div>
        </div>

        <div class="booking-card">
            <div class="header">
                <div class="icon"><img src="../../assets/check-mark.png" alt=""></div>
                <div class="title">Massage</div>
                <div class="actions">
                    <button class="edit"><img src="../../assets/edit.png" alt=""></button>
                    <button class="delete"><img src="../../assets/delete.png" alt=""></button>
                </div>
            </div>
            <hr>
            <div class="details">
                <p><span><img src="../../assets/calendar.png" alt=""></span> 12/08/2024</p>
                <p><span><img src="../../assets/time-left.png" alt=""></span> 9:00 AM</p>
                <p><span><img src="../../assets/user.png" alt=""></span> Staff: Lana</p>
            </div>
        </div>

        <div class="booking-card">
            <div class="header">
                <div class="icon"><img src="../../assets/check-mark.png" alt=""></div>
                <div class="title">Stone Massage</div>
                <div class="actions">
                    <button class="edit"><img src="../../assets/edit.png" alt=""></button>
                    <button class="delete"><img src="../../assets/delete.png" alt=""></button>
                </div>
            </div>
            <hr>
            <div class="details">
                <p><span><img src="../../assets/calendar.png" alt=""></span> 12/08/2024</p>
                <p><span><img src="../../assets/time-left.png" alt=""></span> 9:00 AM</p>
                <p><span><img src="../../assets/user.png" alt=""></span> Staff: Lana</p>
            </div>
        </div>
    </div>
</div>