<link rel="stylesheet" href="../../components/user/user.css" />
<link rel="stylesheet" href="./user.js">

<div id="user">
    <div class="profile-user">
        <h1>Information</h1>
        <div class="name-user">
            <i class="fa-solid fa-user"></i>
            <p>Thi An</p>
        </div>
        <div class="email-user">
            <i class="fa-solid fa-envelope"></i>
            <p>abc@gmail.com</p>
        </div>
        <div class="phone-user">
            <i class="fa-solid fa-phone"></i>
            <p>0909884422</p>
        </div>
    </div>
    <div></div>
    <div class="booking-details">
        <h1>Booking</h1>
        <div class="container-booking-details">
            <!-- displayAppointment -->
        </div>
        <!-- <div class="booking-card highlighted">
            <div class="header">
                <div class="icon"><img src="../../assets/waiting.png" alt=""></div>
                <div class="title">Stone Massage</div>
                <div class="actions">
                    <button class="edit"><img src="../../assets/edit.png" alt=""></button>
                    <button class="delete"><img src="../../assets/delete.png" alt=""></button>
                </div>
            </div>
            <hr>
            <div class="details">
                <p><span><img src="../../assets/calendar.png" alt=""></span> 12/08/2024</p>
                <p><span><img src="../../assets/time-left.png" alt=""></span> 9:00 AM</p>
                <p><span><img src="../../assets/user.png" alt=""></span> Staff: Lana</p>
            </div>
        </div> -->
        <!-- <div class="booking-card">
<div class="header">
<div class="icon"><img src="../../assets/check-mark.png" alt=""></div>
<div class="title">Massage</div>
<div class="actions">
<button class="edit"><img src="../../assets/edit.png" alt=""></button>
<button class="delete"><img src="../../assets/delete.png" alt=""></button>
</div>
</div>
<hr>
<div class="details">
<p><span><img src="../../assets/calendar.png" alt=""></span> 12/08/2024</p>
<p><span><img src="../../assets/time-left.png" alt=""></span> 9:00 AM</p>
<p><span><img src="../../assets/user.png" alt=""></span> Staff: Lana</p>
</div>
</div>

<div class="booking-card">
<div class="header">
<div class="icon"><img src="../../assets/check-mark.png" alt=""></div>
<div class="title">Stone Massage</div>
<div class="actions">
<button class="edit"><img src="../../assets/edit.png" alt=""></button>
<button class="delete"><img src="../../assets/delete.png" alt=""></button>
</div>
</div>
<hr>
<div class="details">
<p><span><img src="../../assets/calendar.png" alt=""></span> 12/08/2024</p>
<p><span><img src="../../assets/time-left.png" alt=""></span> 9:00 AM</p>
<p><span><img src="../../assets/user.png" alt=""></span> Staff: Lana</p>
</div>
</div> -->
    </div>
</div>