<link rel="stylesheet" href="/Frontend/components/header/header.css" />
<script src="/Frontend/config/config.js"></script>
<script src="./header.js"></script>

<div id="header">
  <div class="logo-header">Spa Center</div>
  <div class="menu">
    <a href="">Booking</a>
    <a class="link-login" href="/Frontend/pages/welcome/welcome.html">Login</a>
    <div class="link-user none">
      <!-- <a href="../../components/user/user.html"> -->
      <img src="/Frontend/assets/user.png" alt="Logo" width="48" height="48" />
      <!-- </a> -->
      <div class="dropdown-content">
        <a href="/Frontend/pages/account/account.html">Profile</a>
        <a class="link-log-out" href="#">Log Out</a>
      </div>
    </div>
  </div>
</div>
