#header {
  height: var(--height-heade);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-header a {
  color: var(--color-secondary);
  font-family: var(--font-family-logo);
  font-size: var(--font-size-lg);
  text-decoration: none;
}

.menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  color: var(--color-secondary);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
}

.link-user {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 0.8px solid rgb(190, 190, 190);
  font-size: 16px;
}

.dropdown-content a:hover {
  background-color: #4e2e2e;
  color: var(--color-primary);
}

.link-user:hover .dropdown-content {
  display: block;
}

.menu-toggle {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: flex-end;
  }

  .menu a {
    display: none;
    font-size: var(--font-size-xxs);
  }

  .menu.active a,
  .menu.active .link-login,
  .menu.active {
    display: block;
    text-align: right;
    padding: 12px 0;
    font-weight: var(--font-weight-regular);
  }

  .menu.active .link-login {
    display: none;
  }

  .menu.active a {
    text-align: center;
  }

  .menu-toggle {
    display: block;
    font-size: 20px;
  }

  .dropdown-content {
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

}