<link rel="stylesheet" href="/Frontend/components/header/header.css" />
<script src="/Frontend/config/config.js"></script>
<script src="./header.js"></script>

<div id="header">
  <div class="logo-header"><a href="/Frontend/index.html">Spa Center</a></div>
  <div class="menu">
    <div class="menu-toggle">
      <i class="fa-solid fa-bars"></i>
    </div>
    <a href="/Frontend/pages/booking/booking.html">Booking</a>
    <a class="link-login" href="/Frontend/pages/welcome/welcome.html">Login</a>
    <div class="link-user none">
        <a href="/Frontend/pages/account/account.html">
            <img src="/Frontend/assets/user.png" alt="Logo" width="48" height="48" />
        </a>
        <div class="dropdown-content">
            <a href="/Frontend/pages/account/account.html">Profile</a>
            <a class="link-log-out" href="#">Log Out</a>
        </div>
    </div>
</div>

</div>
