<link rel="stylesheet" href="./components/header/header.css" />

<div id="header">
  <div class="logo-header">Spa Center</div>
  <div class="menu">
    <a href="">Booking</a>
    <a class="link-login" href="./pages/welcome/welcome.html">Login</a>
    <div class="link-user none">
      <a href="../../components/user/user.html">
        <img src="./assets/user.png" alt="Logo" width="48" height="48" />
      </a>
      <a class="link-log-out" href="#">Log Out</a>
    </div>
  </div>
</div>

<script src="./header.js"></script>
